{% extends 'base.html.twig' %} {% block body %}
<h1>Symfony de Merde</h1>
<br />
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam saepe et rerum
  nulla, blanditiis iusto voluptatibus ullam ipsam enim eveniet quas laboriosam
  ad? Optio asperiores modi perspiciatis animi, vel illo id eaque, quae nostrum
  quis commodi! Nam veniam laborum quia!
</p>
<p>
  Optio, eum impedit laudantium perspiciatis non nisi aperiam nemo temporibus
  quidem distinctio deleniti numquam reprehenderit vero exercitationem cumque
  repellendus hic dicta dolorum esse delectus placeat rem eveniet magnam
  molestiae! At quae natus delectus ad, omnis iusto nemo iste eligendi itaque!
</p>
{% endblock %}
