{% extends 'base.html.twig' %} {% block body %}
<article>
  <h2>Titre de l'article</h2>
  <div class="metadata">
    Ecrit le 04/04/2022 à 19h00 dans la catégorie Politique
  </div>
  <div class="content">
    <img src="http://placehold.jp/350x150.png" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
      exercitationem veniam consectetur sapiente modi maxime!
    </p>
    <p>
      Nihil error temporibus aut enim eligendi consequatur. Id eligendi expedita
      velit recusandae eaque, accusamus blanditiis!
    </p>
    <hr />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
      praesentium porro, molestiae distinctio excepturi aut dicta, tempore
      voluptatibus quae commodi deleniti optio quia quaerat at. Tempora, dolor
      eaque? Explicabo, natus? Iure, ea sunt repellendus ducimus eos recusandae
      impedit sint nulla voluptas mollitia nam facere reprehenderit, beatae
      aliquam doloremque dolorum cum.
    </p>
    <p>
      Pariatur fugit quae odit deleniti explicabo? Inventore voluptates soluta
      sed praesentium ratione harum nisi nobis quia facere fugit aliquid
      doloribus, architecto modi voluptatem alias itaque laudantium eos natus at
      tempore repellat. Consectetur laboriosam repudiandae placeat iusto
      voluptatum perferendis eaque! Beatae quisquam praesentium tempora commodi
      cupiditate, rem doloribus distinctio a voluptatibus.
    </p>
  </div>
</article>
{% endblock %}
